.button {
	background:$button-blue-normal;
	width:100%;
	height:100%;	
	border-radius:4px;
	border:none;
	font-size:18px;
 transition:1s linear; 

	&:hover{
		background:$button-blue-hover;
		transform: scale(1.1);
	}

	span{
 		color:$whiteColor;
	}
}