.news{
	height: 140px;
	margin-top:35px;
	overflow:hidden;
	padding-top:20px;

	&__header {
		overflow: hidden;
		height: 50px;
		margin-bottom: 17px;
		
	}

	&__button-container{
		width: 112px;
		height: 38px;
		display: block;
		float: left;
		margin: 7px;
		margin-right:13px; 

	}
	
	&__title {		
		width: 200px;
		height: 38px;
		line-height:38px; 
		text-overflow: ellipsis;		
	}

	&__content{
		line-height: 25px;
		font-size: 13px;
	}
}