$button-blue-normal: #2B8FC4;
$button-blue-hover: #167cb2;
$mainFontFamily:'Open Sans';
$whiteColor:#FFFFFF;
$lightGrey:#CFCFCF;
$normalCrey:#686868;
$darkGrey:#686868;
//color for main background
$backgroundLightGrey:#23282d;
$backgroundDarkGrey:#171a1d;
